// Checkbox Options
.field
  label.label(class=required)= field.questionPrompt
  fieldset(name=field.questionUUID)
    each choice in field.possibleAnswers
      .control
        label
          if required === "required"
            input(type=field.questionType, value=choice[0], required)
            = choice[1]
          else
            input(type=field.questionType, value=choice[0])
            = choice[1]
