// Radio Button Options
.field
  label.label(class=required)=field.questionPrompt
  each choice in field.possibleAnswers
    .control
      label.radio
        if required === "required"
          input(type=field.questionType, name=field.questionUUID, value=choice[0], required)
          = choice[1]
        else
          input(type=field.questionType, name=field.questionUUID, value=choice[0])
          = choice[1]